image:
  repository: tethysplatform/tethys-demo-portal
  tag: latest 
  pullPolicy: Always

env:
  PORTAL_SUPERUSER_NAME: "tethys_admin"
  PORTAL_SUPERUSER_PASSWORD: "wateriswet123"
  TETHYS_DB_HOST: "tethys-postgis"
  TETHYS_DB_PORT: "5432"
  TETHYS_DB_USERNAME: "tethys_default"
  TETHYS_DB_PASSWORD: "mysecretpassword"
  TETHYS_GS_HOST: "geoserver.default.svc.cluster.local"
  TETHYS_GS_PORT: "8181"
  TETHYSDASH_DB_NAME: "tethysdash_primary_db"

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: localhost
  trusted_origins:
    - "http://demo.tethysgeoscience.org"
tethys:
  port: 8080
  workspace_size: "1Gi"
  database:
      tethys_db_name: "tethys_platform"
      tethys_db_username: "tethys_default"
      tethys_db_password: "mysecretpassword"
postgis:
  image:
    tag: latest
  fullnameOverride: "tethys-postgis"
  postgres_user: "postgres"
  postgres_password: "mysecretpassword"
  extra_config:
    max_connections: "500"
    shared_buffers: "512MB"
    work_mem: "5MB"
    autovacuum: "on"
  service:
    type: ClusterIP
    port: 5432
  storage_size: 1Gi
  persistence:
    enabled: true
    existingClaim: ""  # Leave blank unless you have a predefined one
    storageClassName: "standard"  # Replace with your cluster's actual storage class
    accessMode: ReadWriteOnce
    size: 1Gi
  resources: 
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 1
      memory: 4Gi
  
***REMOVED***
  fullnameOverride: "geoserver"
  username: "admin"
  password: "geoserver"
  storage_size: 5Gi
resources: {}
