# Demo Apps
[submodule "apps/tethysapp-nyc_car_theft_viewer"]
    path = apps/tethysapp-nyc_car_theft_viewer
    url = https://github.com/tethysplatform/tethysapp-nyc_car_theft_viewer.git
    branch = main

[submodule "apps/tethysapp-flight_tracker"]
    path = apps/tethysapp-flight_tracker
    url = https://github.com/tethysplatform/tethysapp-flight_tracker.git
    branch = main

[submodule "apps/tethysapp-population_viewer"]
    path = apps/tethysapp-population_viewer
    url = https://github.com/tethysplatform/tethysapp-population_viewer.git
    branch = main

[submodule "apps/tethysapp-wildfire_tracker"]
    path = apps/tethysapp-wildfire_tracker
    url = https://github.com/tethysplatform/tethysapp-wildfire_tracker.git
    branch = main

# Showcase Apps
[submodule "apps/tethysapp-layout_showcase"]
    path = apps/tethysapp-layout_showcase
    url = https://github.com/tethysplatform/tethysapp-layout_showcase.git
    branch = main

[submodule "apps/tethysapp-gizmo_showcase"]
    path = apps/tethysapp-gizmo_showcase
    url = https://github.com/tethysplatform/tethysapp-gizmo_showcase.git
    branch = main

[submodule "apps/tethysapp-wildatlas"]
	path = apps/tethysapp-wildatlas
	url = https://github.com/TannerFrandsen/tethysapp-wildatlas.git
    branch = main

[submodule "apps/tethysdash"]
	path = apps/tethysdash
	url = https://github.com/tethysplatform/tethysapp-tethys_dash
	branch = main

#Tethys Dash Plugins
[submodule "tethysdash_plugins/tethysdash_plugin_cw3e"]
	path = tethysdash_plugins/tethysdash_plugin_cw3e
	url = https://github.com/FIRO-Tethys/tethysdash_plugin_cw3e

[submodule "tethysdash_plugins/tethysdash_plugin_usace"]
	path = tethysdash_plugins/tethysdash_plugin_usace
	url = https://github.com/FIRO-Tethys/tethysdash_plugin_usace

[submodule "tethysdash_plugins/tethysdash_plugin_cnrfc"]
	path = tethysdash_plugins/tethysdash_plugin_cnrfc
	url = https://github.com/FIRO-Tethys/tethysdash_plugin_cnrfc
    
[submodule "tethysdash_plugins/tethysdash_examples"]
	path = tethysdash_plugins/tethysdash_examples
	url = https://github.com/FIRO-Tethys/tethysdash_examples
	branch = main

[submodule "tethysdash_plugins/tethysdash_plugin_geoglows"]
	path = tethysdash_plugins/tethysdash_plugin_geoglows
	url = https://github.com/FIRO-Tethys/tethysdash_plugin_geoglows.git

