# Demo Apps
[submodule "apps/tethysapp-nyc_car_theft_viewer"]
    path = apps/tethysapp-nyc_car_theft_viewer
    url = https://github.com/tethysplatform/tethysapp-nyc_car_theft_viewer.git
    branch = main

[submodule "apps/tethysapp-flight_tracker"]
    path = apps/tethysapp-flight_tracker
    url = https://github.com/tethysplatform/tethysapp-flight_tracker.git
    branch = main

[submodule "apps/tethysapp-population_viewer"]
    path = apps/tethysapp-population_viewer
    url = https://github.com/tethysplatform/tethysapp-population_viewer.git
    branch = main

[submodule "apps/tethysapp-wildfire_tracker"]
    path = apps/tethysapp-wildfire_tracker
    url = https://github.com/tethysplatform/tethysapp-wildfire_tracker.git
    branch = main

# Showcase Apps
[submodule "apps/tethysapp-layout_showcase"]
    path = apps/tethysapp-layout_showcase
    url = https://github.com/tethysplatform/tethysapp-layout_showcase.git
    branch = main

[submodule "apps/tethysapp-gizmo_showcase"]
    path = apps/tethysapp-gizmo_showcase
    url = https://github.com/tethysplatform/tethysapp-gizmo_showcase.git
    branch = main