/* Chrome, Safari, Edge, Opera */
.wideModalDialog {
  max-width: none !important;
  height: 90vh !important;
  max-height: 90vh !important;
}

.wideModalDialog .modal-content {
  height: 100%;
}

.wideModalDialog img {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.semiWideModalDialog {
  max-height: 85% !important;
  height: 85% !important;
  max-width: 85% !important;
  width: 85% !important;
}

.semiWideModalDialog img {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fiftyWideModalDialog {
  max-width: 50% !important;
  width: 50% !important;
}

.fiftyWideModalDialog img {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.seventyWideModalDialog {
  max-width: 70% !important;
  width: 70% !important;
}

.mapLayerContent {
  height: 85vh;
}
